// - カラー群

  // ベース
  $main-color: #b8d200;
  $main-dark-color: #69821b;
  $sub-color: #fff;
  $accent-color: #d0576b;

  // テキスト
  $text-color-black: #0f1419;

  // その他
  $image-background-color: #a2d7dd;
